//
// Banner
//

.banner {
    background-color: $gray-100;
    // Set top padding to 5rem plus the height of the fixed navbar
    padding-top: 5rem + 4.5rem;
    padding-bottom: 5rem;
    background-image: url('../../../static/img/smartpay_landing.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;

    .main-div {
      background: #fff none repeat scroll 0 0;
      border-radius: 20px;
      margin: 10px auto 30px;
      padding: 30px 40px 40px 30px;
      min-height: 690px;
      width: 70%;

      .panel p.login-title {
        color: #000;
        margin: 0 auto 15px;
        text-align: left;
        font-size: 32px;
        letter-spacing: normal;
        line-height: normal;
      }
      .panel p.login-subtitle {
        color: #000;
        margin: 0 auto;
        text-align: left;
        font-size: 20px;
        letter-spacing: normal;
        line-height: normal;
      }

      #Login {
        width: 100%;
        display: block;
        position: relative;
        margin: 0;
        padding-top: 50px;

        .form-group {
          margin-bottom:35px;

          .form-control {
            background: #f7f7f7 none repeat scroll 0 0;
            border: 1px solid #d4d4d4;
            border-radius: 4px;
            font-size: 14px;
            height: 50px;
            line-height: 50px;
          }

          .lin-recovery {
            margin: 20px auto;
            height: 14px;
            display: block;

            .recover-lnk {
              display: block;
              height: 16px;
              color: #0018a8;
              font-size: 16px;
              font-weight: 600;
              letter-spacing: 2px;
              line-height: 16px;
              text-transform: uppercase;
              text-decoration: none;
            }
          }
        }

        .action {
          width: 100%;
          text-align: left;

          .remember-box {
            margin: 30px 0;
            text-align: left;
            width: 100%;
            position: relative;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-line-pack: center;
            align-content: center;

            input[type=checkbox] {
              position: absolute;
              z-index: 1;
              width: 25px;
              height: 25px;
              left: 0;
              border-radius: 2px;
              top: 0;
              margin: 0;
            }

            label {
              line-height: normal;
              font-size: 16px;
              display: inline;
              font-family: KarbonRegular,
              sans-serif;
              color: #000;
              margin: 3px 0 0 40px;
            }
          }
          button {
            width: 180px;
            margin: 30px auto 30px 0;
            border: 1px solid transparent;
          }
        }
      }
      .login-banner__text {
        font-size: 16px;
        line-height: 17px;
        margin-bottom: 0;
        text-align: left;
        word-wrap: break-word;
        color: #000;
      }

      .link-cta {
        display: block;
        height: 16px;
        color: #0018a8;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 2px;
        line-height: 16px;
        text-transform: uppercase;
        text-decoration: none;
      }

      a {
        text-decoration: none;
      }
    }
}



