.btn-link {
    color: #2D32AA;
    padding: 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 17px;
    font-family: Karbon;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
}
