.drop-file-input {
    position: relative;
    width: 400px;
    height: 200px;
    border: 2px dashed #4267b2;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f8ff;;
}

.input-drop {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.drop-file-input:hover,
.drop-file-input.dragover {
    opacity: 0.6;
}

.drop-file-input__label {
    text-align: center;
    color: #ccc;
    font-weight: 600;
    padding: 10px;
}

.drop-file-preview {
    margin-top: 30px;
}

.drop-file-preview p {
    font-weight: 500;
}

.drop-file-preview__title {
    margin-bottom: 20px;
}

.drop-file-preview__item {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f8ff;
    padding: 15px;
    border-radius: 20px;
}

.text-drop{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 15px;
    margin-bottom: 10px;
}

.drop-file-preview__item img {
    width: 50px;
    margin-right: 20px;
}

.drop-file-preview__item__del {
    background-color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.drop-file-preview__item:hover .drop-file-preview__item__del {
    opacity: 1;
}

.dot-success{
    background-color: #198754;
    background: #198754;
    height: 25px;
    width: 25px;
    border-radius: 45%;
}

.dot-denied{
    background-color: #DC3545;
    background: #DC3545;
    height: 25px;
    width: 25px;
    border-radius: 45%;
}

.gallery {
    margin-top: 10px;
}

.gallery img {
    border-radius: 10%;
    position: absolute;
    top: 0;
    left: 0;
}

.img-preview {
    height: 190px;
    border-radius: 5%;
    width: auto;
}