.loadingPage {
  width: 100vw;
  height: 100vh;
}

.loadingContainer {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100%;
  width: 100%;

  &.light {
    .loadingDot:nth-child(1) {
      background-color: $blue;
      animation-delay: 0;
    }

    .loadingDot:nth-child(2) {
      background-color: $blue;
      animation-delay: 0.09s;
    }

    .loadingDot:nth-child(3) {
      background-color: $blue;
      animation-delay: .18s;
    }
  }
}

.loadingDot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin: 3px;
  animation: loading 1s ease-in-out infinite;
}

.loadingDot:nth-child(1) {
  background-color: #2d32aa;
  animation-delay: 0;
}

.loadingDot:nth-child(2) {
  background-color: #2d32aa;
  animation-delay: 0.09s;
}

.loadingDot:nth-child(3) {
  background-color: #2d32aa;
  animation-delay: .18s;
}

@keyframes loading {
  0% {
    transform: scale(1);
  }

  20% {
    transform: scale(1.5);
  }

  40% {
    transform: scale(1);
  }
}
