.requirement {
  box-sizing: border-box;
  flex-direction: row;
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 25px;
  position: relative;
  width: 600px;
  margin-top: 15px;

  @media screen and (max-width: $break-tablet-p) {
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 20px;
    width: 100%;
  }

  &::before {
    background: #9a9baf;
    content: '';
    height: 1px;
    position: absolute;
    top: 15px;
    width: 100%;
    z-index: 0;
    left: 0;

    @media screen and (max-width: $break-tablet-p) {
      display: none;
    }
  }

  label {
    font-size: 16px;
    margin: 0;
  }

}

  .requirementControl {
    font-size: 16px;
    line-height: 17px;
    position: relative;
    text-align: center;
    width: 25%;

    @media screen and (max-width: $break-tablet-p) {
      align-items: center;
      display: flex;
      font-size: 18px;
      flex-direction: row;
      text-align: left;
      width: 50%;

      &:nth-child(odd) {
        width: 45%;
      }

      &:nth-child(even) {
        width: 55%;
      }
    }

    > div {
      position: relative;
      width: 100%;
      display: flex;
      min-width: 160px;

      @media screen and (max-width: $break-tablet-p) {
        min-width: 0;
      }

      > div {
        position: absolute;
        top: 2px;
        right: -24px;
        width: 53px;

        button {
          position: relative;
          left: initial;
          top: inherit;
          width: 34px;
          right: 9px;
          display: block;

          @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            left: 0;
          }

          span {
            display: block;
            margin: 0;

            > div {
              div {
                width: 34px !important;
                height: 15px;
              }
            }
          }
        }
      }
    }

    span {
      display: inline-block;
      font-size: 16px;
      height: 15px;
      line-height: 15px;
      margin: 0 0 0 5px;
      // width: 15px;
    }

    &::before {
      background: #fff;
      content: '•';
      color: $brand-gray;
      font-size: 50px;
      height: 25px;
      line-height: 25px;
      position: relative;
      top: -2px;
      z-index: 1;
      width: 25px;
      text-align: center;

      @media screen and (min-width: $break-tablet-p + 1px) {
        display: block;
        height: 30px;
        margin: 0 auto;
        min-width: 30px;
        top: 0;
        width: 30px;
      }

      @media screen and (max-width: $break-tablet-p) {
        margin: 0;
        top: 0;
        width: 15px;
        height: 30px;
      }
    }

    &.requirementControlChecked {
      color: #48d597;

      &::before {
        content: "";
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%2348d597' class='bi bi-check' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z' clip-rule='evenodd'/></svg>");
        font-size: 12px;
        background-repeat: no-repeat;
        background-size: 1.8rem 1.8rem;
        vertical-align: -.125em;

        @media screen and (min-width: $break-tablet-p + 1px) {
          line-height: 32px;
        }
      }

      > h6 {
        color: #48d597;
        font-weight: 600;
      }

      > div { // avoid new div
        > h6 {
          color: #48d597;
          font-weight: 600;
        }
      }
    }
  }
