// StepProgress
.stepper-wrapper {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 10px;
}
.stepper-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;

  @media (max-width: 768px) {
    font-size: 12px;
  }
}

// .stepper-bar::before {
//   position: absolute;
//   content: "";
//   border-bottom: 2px solid #ccc;
//   width: 100%;
//   top: 20px;
//   left: -50%;
//   z-index: 2;
// }

.stepper-bar {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  position: absolute;
  content: "";
  border-bottom: 2px solid #ccc;
  width: 100%;
  top: 20px;
  left: 50%;
  z-index: 2;
}

.stepper-item .step-counter {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ccc;
  margin-bottom: 6px;
}

.stepper-item.active {
  font-weight: bold;
}

.stepper-item.completed .step-counter {
  background-color: #0d6efd;
}

.stepper-bar.completed {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    position: absolute;
    content: "";
    border-bottom: 2px solid #0d6efd;
    width: 100%;
    top: 20px;
    left: 50%;
    z-index: 2;
}

.stepper-item:first-child::before {
  content: none;
}
.stepper-item:last-child::after {
  content: none;
}
