// Custom utilities

.bg-black {
    background-color: $black !important;
}

.bg-gradient-primary-to-secondary {
    background: linear-gradient(45deg, #{$primary}, #{$secondary}) !important;
}

.font-alt {
    font-family: $alt-font-family !important;
}

.text-gradient {
    background: -webkit-linear-gradient(#{$primary}, #{$secondary});
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
