
//
// Colors
//

// Override Bootstrap color systel colors

$blue: #2937f0;
$purple: #9f1ae2;
$brand-gray: #9596af;
// Override Bootstrap default state colors

$primary: $blue;
$secondary: $purple;

$error: #F26969;
$gray: #E1E1E1;
$main: #114399;

//Breakpoint
$break-small-phone: 320px;
$break-medium-phone: 375px;
$break-phone: 480px;
$break-big-phone: 1023px;
$break-tablet-p: 768px;
$break-tablet-l: 1024px;
$break-tablet-landscape: 1200px;
$break-desk: 1280px;
$break-desk-small: 1440px;
