@import 'bootstrap/scss/bootstrap';
@import 'variables';
@import 'typography';
@import 'mixins';
@import '../../routes/Login/components/login.scss';
@import './components/footer';
@import './components/navbar';
@import './components/stepper';
@import './components/buttonanchor';
@import './components/requirementsbar';
@import './components/loader';
@import './components/dropInput';

html {
    scroll-padding-top: 4.5rem;
}

// Padding for sections

aside,
section {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

// Set fixed height for app badges

.app-badge {
    height: 3rem;
}

body {
    margin: 0;
    font-family: 'Mulish', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    background: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.text-main{
    color: $main !important;
}

// ERROR FIELD

.red{
    background-color: red;
}

// FORM

@media screen and (max-width: 600px) {
    .form {
        margin: auto;
        width: 55vw;
        margin-top: 50px;
    }
}

.label {
    display: block;
    margin-bottom: 1px;
    margin-top: 15px;
    color: #132C33;
    font-weight: 600;
    text-align: center;
}

.error {
    color: $error;
    font-size: 0.9em;
    display: block;
    font-size: 0.9em;
    text-align: center;
}

.welcome {
    margin-bottom: 3rem;
    line-height: 0px;
    color: #D8E3E7;
}

@media screen and (max-width: 600px) {
    .welcome {
        font-size: 10px;
        line-height: 5px;
    }
}

//USERS TABLE

.input-custom{
    background-color: transparent;
    height: 24px;
    width: 50px;
    text-align: center;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-radius: 0px;
}

input:focus::placeholder {
    color: transparent;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}

input[type=number]
{
    -moz-appearance: textfield;
}

input{
    border: 1px solid $main;
    border-radius: 7px;
    padding: 5px;
}

.document-data{
    list-style-type: none;
}

// START UI

// Card style

.card-custom{
    box-shadow: -5px -5px 20px #fff, 5px 5px 20px $main;
    border-radius: 10px;
    padding: 10px 20px;
    box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
}

// Button style

.btn-custom {
    box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
    background-color: #fff;
    border-radius: 10px;
    border: 0px;
    padding: 10px 20px;
    transition: 0.2s;
}

.btn-custom:hover{
    box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
    background-color: #fff;
}

.btn-custom:active{
    box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
    background-color: #fff;
}

.white {
    color: #fff;
}

// END UI

// Confirm Modal

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background: rgba(0, 0, 0, 0.75);
}

.modal {
    position: fixed;
    top: 30vh;
    left: 10%;
    width: 80%;
    z-index: 100;
    overflow: hidden;
}

.header {

    background: #132C33;
    padding: 1rem;

    h2{
        margin: 0;
        color: white;
    }
}

.content {
    padding: 1rem;
}

.actions {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
}

@media (min-width: 768px) {
    .modal {
        left: calc(50% - 20rem);
        width: 40rem;
    }
}

.tick{
    font-size: 70px;
    background: #198754;
    height: auto;
    width: auto;
    background-color: #198754;
    border-radius: 50%;
}

.defaultContainer {
    background-color: #fff;
    flex: 1 0 auto;
    flex-direction: column;
    width: 100%;
    min-height: calc(100vh - 100px);
    display: flex;
    min-width: 100vw;
    align-items: center;
}

.title {
    margin: 15px 0 20px;
}

.card-header {
    h3 {
        font-size: 22px;
        color: #453e79;
        text-transform: uppercase;
        letter-spacing: 7px;
        padding: 5px 15px;
        display: inline-block;
        border: 1px solid #dad8e4;
        margin-bottom: 45px;
    }
}
