//
// Login
//

.header.header-login {
    box-shadow: 0 10px 13px 0 rgb(0 0 0 / 10%);
    background: rgba(255, 255, 255, 0.07);
    height: 75px;
    position: absolute;
    top: 0;
    left: 0;
}

.header,
.header-top {
    z-index: 20;
}

.header {
    position: fixed;
    width: 100%;
    background-color: transparent;
}

.header.header-login .header-top {
    line-height: 25px;
}

.header-top.nx-container-padded {
    padding: 0;
}

.header,
.header-top {
    z-index: 20;
}

.header-logo {
    position: absolute;

    a {
        text-decoration: none;
    }
}

.nx-container-padded {
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
    padding: 0;
}

.header.header-login .header-top>div {
    padding: 21px 0 24px 0;
}

.header-top>div {
    padding: 30px 0;
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.align-items-center {
    align-items: center !important;
}

.justify-content-between {
    justify-content: space-between !important;
}

.d-flex {
    display: flex !important;
}

input[type=password]::-ms-reveal,
input[type=password]::-ms-clear
{
    display: none !important;
}

.login-container {
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    height: 100%;
    .login {
        background-image: url('../../../static/img/smartpay_landing.jpg');
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center center;
        z-index: -1;
        color:#FFF;

        .login-form {
            margin-top: 80px;
        }
        .main-div {
            background: #fff none repeat scroll 0 0;
            border-radius: 20px;
            margin: 10px auto 30px;
            padding: 20px 40px 30px 30px;
            min-height: 600px;
            width: 70%;

            .panel p.login-title {
                color: #000;
                margin: 0 auto 15px;
                text-align: left;
                font-size: 32px;
                letter-spacing: normal;
                line-height: normal;
            }

            .panel p.login-subtitle {
                color: #000;
                margin: 0 auto;
                text-align: left;
                font-size: 20px;
                letter-spacing: normal;
                line-height: normal;
            }

            #Login {
                width: 100%;
                display: block;
                position: relative;
                margin: 0;
                padding-top: 30px;

                .form-group {
                    margin-bottom: 35px;

                    .margin-error{
                        padding-top: 0.70rem;
                        padding-bottom: 0.65rem;
                    }

                    .form-control {
                        background: #f7f7f7 none repeat scroll 0 0;
                        border: 1px solid #d4d4d4;
                        border-radius: 4px;
                        font-size: 14px;
                        height: 50px;
                        line-height: 50px;
                    }

                    .lin-recovery {
                        margin: 20px auto;
                        height: 14px;
                        display: block;

                        .recover-lnk {
                            display: block;
                            height: 16px;
                            color: #0018a8;
                            font-size: 16px;
                            font-weight: 600;
                            letter-spacing: 1px;
                            line-height: 16px;
                            text-transform: uppercase;
                            text-decoration: none;
                            text-align: left;
                        }
                    }
                }

                .action {
                    width: 100%;
                    text-align: left;

                    .remember-box {
                        margin: 10px 0;
                        text-align: left;
                        width: 100%;
                        position: relative;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -ms-flex-line-pack: center;
                        align-content: center;

                        input[type=checkbox] {
                            position: absolute;
                            z-index: 1;
                            width: 25px;
                            height: 25px;
                            left: 0;
                            border-radius: 2px;
                            top: 0;
                            margin: 0;
                        }

                        label {
                            line-height: normal;
                            font-size: 16px;
                            display: inline;
                            font-family: KarbonRegular,
                                sans-serif;
                            color: #000;
                            margin: 3px 0 0 40px;
                        }
                    }

                    button {
                        width: 180px;
                        margin: 30px auto 30px 0;
                        border: 1px solid transparent;
                    }
                }
            }

            .login-banner__text {
                font-size: 16px;
                line-height: 17px;
                margin-bottom: 0;
                text-align: left;
                word-wrap: break-word;
                color: #000;
            }

            .link-cta {
                display: block;
                height: 16px;
                color: #0018a8;
                font-size: 16px;
                font-weight: 600;
                letter-spacing: 2px;
                line-height: 16px;
                text-transform: uppercase;
                text-decoration: none;
                text-align: left;
            }

            a {
                text-decoration: none;
            }
        }
    }
}


#footer-lite {
    position: relative;
    width: 100%;
    height: 102px;

    .footer-wrapper {
        width: 100%;
        padding: 21px 65px 21px 65px;
        display: flex;
        height: 100%;

        .footer-wrapper-logo {
            width: auto;
            padding-right: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 250px;
        }

        .footer-text {
            width: 85%;
            text-align: right;
            border-left: 1px solid #9596AF;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            a {
                color: #2D32AA;
                font-family: 'KarbonMedium';
                font-size: 18px;
                font-weight: 500;
                letter-spacing: 0;
                line-height: 19px;
                margin: 0;
                text-decoration: none;
            }

            span {
                color: #000000;
                font-family: 'KarbonRegular';
                font-size: 14px;
                letter-spacing: 0;
                line-height: 15px;
                text-align: right;
            }
        }
    }
}
